@charset "utf-8";

@font-face {
font-family: 'Futura Light';
src: url('../fonts/FuturaLightC.eot');
src: url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
url('../fonts/FuturaLightC.woff') format('woff'),
url('../fonts/FuturaLightC.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura Book';
src: url('../fonts/FuturaBookC.eot');
src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
url('../fonts/FuturaBookC.woff') format('woff'),
url('../fonts/FuturaBookC.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura Medium';
src: url('../fonts/FuturaMediumC.eot');
src: url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
url('../fonts/FuturaMediumC.woff') format('woff'),
url('../fonts/FuturaMediumC.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
a {
  color: inherit; 
  text-decoration: inherit;
}
.relDiv{
	position: relative;
	width: 100%;
	height: 100%;
}
span.nobr { white-space: nowrap; }
.Playfair{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	color: #000;
}

.mainContainer{
	position: relative;
	max-width: 1520px;
	width: 100%;
	overflow: initial;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
}

.block1{
	width: 100%;
	height: 100vh;
	position: relative;
}
.block{
	position: relative;
}
.block1_back{
	background: -moz-radial-gradient(center, ellipse cover, rgba(156,118,67,1) 18%, rgba(142,105,52,1) 58%, rgba(102,63,4,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(156,118,67,1) 18%,rgba(142,105,52,1) 58%,rgba(102,63,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(156,118,67,1) 18%,rgba(142,105,52,1) 58%,rgba(102,63,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c7643', endColorstr='#663f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 100vw;
	height: 100%;
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	top: 0;
	z-index: -1;
}
.block1_topLogo{
	margin: 50px 0;
}
.block1_topTitle{
	width: calc(100% - 280px);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	letter-spacing: 0.3em;
	color: #FFFFFF;
}
.block1_header{
	font-family: Vollkorn;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
	color: #FFFFFF;
}
.hLine{
	width: 100%;
	height: 11px;
	background-color:  #DBAB00;
}
.block1_textContainer_line{
	margin: 20px 0 20px 0;
	top: 298px;
	left: 138px;
}
.block1_subHeader{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}
.button{
	width: 318px;
	height: 81px;
	background: #A70B0B;
	box-shadow: 0px 0px 15px #DD9E23;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	display: table;
	cursor: pointer;
}
.button span{
	display: table-cell;
	vertical-align: middle;
}
.block1_button{
	position: relative;
	margin: 50px 0 0 0;
}
.block1_textContainer{
	position: relative;
	width: calc(50% - 140px);
	margin-left: 140px;
}
.block1_winnerHolder{
	position: absolute;
	right: 50px;
	width: 50%;
	height: 100vh;
	top: 0;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}
.block1_winner{
	position: absolute;
	max-width: 90%;
	max-height: 100%;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%
}
.block1_title{
	display: grid;
	grid-template-columns: minmax(200px, 350px) auto 50px;
	height: auto;
	background: rgba(0, 0, 0, 0.5);
	max-width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: Roboto;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
.block1_title div{
	align-self: center;
	padding: 0 30px;
}
.filimonova_podpis_img{
	height: 100px;
}
						/*BLOCK1 END*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
						/*BLOCK2 BEGIN*/
.block2{
	min-height: 700px;   /*temp*/
}
.block2_headerHolder{
	position: relative;
	padding-bottom: 25px;
	text-align: center;
}
.block2_header{
	font-family: Vollkorn;
	font-size: 30px;
	line-height: 38px;
	text-align: center;
	color: #030303;
	margin-top: 30px;
	display: inline-block;
	max-width: calc(100% - 300px);
}
.block2_header span{
	line-height: 42px;
	color: #A70B0B;
}
.block2_branch{
	position: absolute;
	bottom: 0;
	transform: translateY(22.7%);
}
.block2_rightBranch{
	right: 0;
}
.block2_leftBranch{
	left: 0;
}
.block2_line{
	position: absolute;
	bottom: 0;
	width: calc(100% - 500px);
	left: 50%;
	transform: translateX(-50%);
}
.block2_diplomaDownloadBtn{
	width: 93%;
	margin: 15px 0 15px 3.5%;
}
.block2_mainContainer{
	display: grid;
	grid-template-columns: minmax(400px, auto) minmax(200px, 300px);
	grid-auto-rows: auto;
	width: calc(100% - 280px);
	position: relative;
	margin: 40px 140px 0 140px;
	grid-gap: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 26px;
}
.block2_diplomaImg1, .block2_diplomaImg2{
	width: 100%;
	cursor: pointer;
}
.block2_diplomaHolder{
	text-align: center;
}
.block2_diploma_header{
	font-weight: bold;
	font-size: 22px;
	margin: 20px 0;
}
.block2_diploma_p1, .block2_diploma_p2, .block2_diploma_p4{
	margin: 20px 0;
}
.block2_diploma_p3{
	background: rgba(242, 214, 116, 0.58);
	padding: 20px 55px;
}
.block2_bottom, .block4_bottom, .block5_bottom{
	font-family: Vollkorn;
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	color: #A70B0B;
	border: 11px solid #DBAB00;
	box-sizing: border-box;
	grid-column: 1 / -1;
	padding: 20px 65px;
	margin-bottom: 40px;
}
.block2_sliderHolder{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	left: 50%;
	z-index: 100;
	transform: translateX(-50%);


}
.block2_sliderContainer{
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}
.diploma_slider{
	text-align: center;
}
.diploma_slider img{
	max-width: 89vw;
	max-height: 80vh;
	position: relative;
	z-index: 1;
}
.lArr, .rArr{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width: 30px;
	cursor: pointer;
	position: absolute;
}
.rArr{
	right: 40px;
}
.lArr{
	left: 40px;
}
.closeBtn{
	position: absolute;
	top: 40px;
	right: 40px;
	width: 50px;
	cursor: pointer;
}
.block2_d2window, .block2_d1window{
	display: none;
}
.block2_diploma_name{
	font-family: Times New Roman;
	font-size: 48px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50vh;
	color: #D90000;
	z-index: 2;
}

						/*BLOCK2 END*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
						/*BLOCK3 BEGIN*/

.block3_grid{
	display: grid;
	width:100%;
	position: relative;
	margin: 40px 0;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100vh;
}
.block3_headerHolder{
	grid-column: 1 / -1;
	text-align: center;
	font-family: Vollkorn;
	font-size: 30px;
	line-height: 38px;
	color: #FFF;
	margin-top: 20px;
}
.block3_headerHolder div{
	position: relative;
	margin: 30px 0;
	max-width: 500px;
	transform: translateX(-50%);
	left: 50%;
}
.block3_subHeader{
	color: #FFE484;
	text-shadow: 0px 0px 50px #F1CE30;
}
.block3_Header span{
	line-height: 42px;
}
.block3_mainText p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 140px;
}
.block3_imgHolder{
	position: relative;
}
.block3_courierImg{
	position: absolute;
	bottom: 0;
	right: 20px;
	max-width: calc(100% - 20px);
}



						/*BLOCK3 END*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
						/*BLOCK4 BEGIN*/





.block4_header{
	font-family: Vollkorn;
	font-size: 40px;
	line-height: 56px;
	text-align: center;
	color: #030303;
	margin-bottom: 25px;
}
.block4_grid{
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-auto-rows: auto;
	width: calc(100% - 280px);
	position: relative;
	margin: 40px 140px 0 140px;
	grid-gap: 50px;
}
.block4_mainTextHolder{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
}
.block4_name{
	font-size: 30px;
	line-height: 32px;
}
.block4_mainText{
	font-size: 20px;
	line-height: 26px;
	font-weight: normal;
}
.block4_mainText span{
	color: #CB9F00;
	font-weight: bold;
}
.block4_blankHolder{
	text-align: center;
	align-self: center;
	position: relative;
}
.block4_fillBlankBtn{
	display: none;
	width: 100%;
}
.exampleTitle{
	position: absolute;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
	transform: translate3d(-50%, -50%, 0) rotate(39.68deg);
	top: 50%;
	left: 50%;
}




						/*BLOCK4 END*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
						/*BLOCK5 BEGIN*/


.block5_grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	width: calc(100% - 280px);
	position: relative;
	margin: 40px 140px 0 140px;
	grid-gap: 50px;
}
.block5_headerHolder{
	grid-column: 1 / -1;
	font-family: Vollkorn;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 30px;
}
.block5_step{
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
.block5_step p{
	text-align: left;
	position: relative;
}
.block5_numeration{
	font-weight: bold;
	font-size: 40px;
	line-height: 38px;
	color: #DBAB00;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-150%);
}
.block5_mobileNumeration, .block5_mainText_mobile{
	display: none;
}
.block5_step_imageHolder{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.block5_stepArr{
	position: absolute;
    width: 45%;
    max-width: 125px;
    transform: translate3d(-100%, -50%, 0);
    left: 0;
    top: 50%;
}
.block5_stepImg{
	transform: translateX(-100%);
	height: 4vw;
	max-height: 60px;
}
.block5_bottom{
	background-color: #F5E586;
	grid-column: 1 / -1;
}
.block5_mainText{
	grid-column: 1 / -1;
	font-family: Vollkorn;
	font-size: 25px;
	line-height: 31px;
	text-align: center;
	color: #FFFFFF;
}



                        /*BLOCK5 END*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
						/*BLOCK6 BEGIN*/




.block6_frame{
	width: calc(100% - 280px);
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
	margin: 40px 140px 0 140px;
	padding: 20px 25px;
}
.block6_subFrame{
	border: 5px solid #DBAB00;
	box-sizing: border-box;
	padding: 25px 75px;
}
.block6_form_label{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	display: inline-block;
	vertical-align: top;
}
.block6_header{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 46px;
	text-align: center;
	margin: 25px 0;
}

.checkbox, .radio {
    display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkbox{
	margin: 30px 0;
	color: gray;
}
.label{
	font-family: Roboto;
	font-size: 18px;
	line-height: 23px;
	margin: 15px 0 15px;
}
.radioLabel{
	font-family: Roboto;
	font-size: 13px;
	line-height: 18px;
	display: inline-block;
    vertical-align: middle;
}
.checkbox input, .radio input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark, .radioMark{
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 20px;
  	width: 20px;
  	background-color: #fff;
  	border: 2px solid #E2C765;
	box-sizing: border-box;
	display: inline-block;
}
.radioMark{
	border-radius: 50%;
}
.checkbox:hover input ~ .checkmark, .radio:hover input ~ .radioMark{
  	background-color: #ffe6da;
}
.checkmark:after, .radioMark:after {
  	content: "";
  	position: absolute;
  	display: none;
}
.checkbox input:checked ~ .checkmark:after, .radio input:checked ~ .radioMark:after{
  	display: block;
}
.checkbox input:checked{
	color: #000;
}
.checkbox .checkmark:after{
  	left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #D92323;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.radio .radioMark:after {
	width: 9px;
    height: 9px;
    background-color: #D92323;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.block6_radioHolder{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 40px;
	grid-row-gap: 15px;
	/*justify-items: center;*/
}



/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Roboto;
  width: 100%;
  font-size: 14px;
line-height: 18px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,.select-selected {
  color: #000;
  padding: 16px;
  border: 2px solid #E2C765;
  border-color: transparent #E2C765 #E2C765 #E2C765;
  cursor: pointer;
  user-select: none;
}
.select-selected{
	border-color: #E2C765;
	color: gray;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #ffe6da;
}



.inputText{
	width: 100%;
	font-family: Roboto;
	font-size: 14px;
	line-height: 18px;
	padding: 16px;
	box-sizing: border-box;
	border: 2px solid #E2C765;
}
.inputText:focus{
	outline: none;
}

.block6_inputHolder{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-column-gap: 50px;
	grid-row-gap: -20px;
	align-items: end; 
}
.block6_address{
	grid-column: 1 / -1;
}
.block6_submitBtn{
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	margin: 40px 0;
}
.block6_bottom1{
	padding: 0 140px;
	font-family: Vollkorn;
	font-size: 40px;
	line-height: 56px;
	text-align: center;
}
.block6_bottom span{
	color: #D92323;
}
.block6_bottom2{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	letter-spacing: 0.3em;
	padding: 0 140px;
	color: grey;
	text-decoration: none;
	margin: 20px 0;
}
.block7{
	height: 100vh;
	display: none;
}
.block7 img{
	max-width: 80vw;
	max-height: 80vh;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	left: 50%;
	top: 50%;
}




@media screen and (min-width: 300px) and (max-width: 920px){
	.mainContainer{
		overflow: hidden;
	}
	.block1_topTitle {
    	width: calc(100% - 40px);
    	font-size: 5px;
	    line-height: 6px;
	    padding: 0px 20px;
	    margin: 10px 0;
    }
	.block1_textContainer {
	    position: relative;
	    width: calc(100% - 40px);
	    margin-left: 20px;
	}
	.block1_topLogo {
	    margin: 30px 0 10px;
	}
	.block1_header {
	    font-size: 29px;
	    line-height: 35px;
	    max-width: 70%;
	}
	.hLine {
	    width: calc(100% - 150px);
	    height: 5px;
	}
	.block1_textContainer_line{
		max-width: 56%;
	}
	.block1_subHeader {
	    width: 60%;
	    font-size: 16px;
	    line-height: 20px;
	}
	.block1_button {
	    width: 60%;
	}
	.button{
		font-size: 15px;
    	line-height: 20px;
    	height: 70px;
	}
	.block1_winnerHolder {
	    right: -35%;
	    width: 100%;
	    height: 100vh;
	}

	.block1_title div {
	    padding: 0px 10px;
	    overflow: hidden;
	}
	.block1_title {
	    grid-template-columns: minmax(72px, 315px) auto 20px;
	    height: 80px;
	    max-width: 75%;
	    font-size: 9px;
	    line-height: 11px;
	    justify-items: center;
	    overflow: hidden;
	}



	.block2_branch {
	    transform: translateY(24.5%);
	    height: 115px;
	}
	.block2_header {
	    font-size: 24px;
	    line-height: 30px;
	    max-width: calc(100% - 40px);
	    overflow: hidden;
	}
	.block2_headerHolder {
	    overflow: hidden;
	    padding-bottom: 5px;
	}
	.block2_header span, .block4_header {
	    line-height: 34px;
	    font-size: 24px;
	}
	.block2_diploma_header, .block2_diploma_p1, .block2_diploma_p2, .block2_diploma_p4, .block2_diplomaHolder{
		padding: 0 20px;
	}
	.block2_mainContainer {
	    grid-template-columns: 1fr;
	    width: 100%;
	    margin: 10px 0 0;
	    grid-gap: 20px;
	    font-size: 12px;
	    line-height: 18px;
	}
	.block2_diploma_header {
	    text-align: center;
	    font-size: 16px;
	    margin: 17px 0;
	    line-height: 19px;
	}
	.block2_diploma_p3 {
	    padding: 20px 35px;
	}
	.block2_bottom, .block4_bottom, .block5_bottom {
	    font-size: 24px;
	    line-height: 33px;
	    border: 5px solid #DBAB00;
	    padding: 20px;
	    margin-bottom: unset;
	}
	.lArr, .rArr{
		display: none;
	}




	.block3_grid {
	    width: calc(100% - 40px);
	    margin: 40px 20px;
		grid-gap: unset;
	    grid-template-rows: auto;
	    height: auto;
	}
	.block3_headerHolder, .block5_headerHolder{
	    font-size: 24px;
	    line-height: 30px;
	}
	.block3_headerHolder div {
	    position: relative;
	    margin: 10px 0;
	}
	.block3_imgHolder, .block3_mainText {
	    grid-column: 1/-1;
	    height: 200px;
	}
	.block3_mainText p {
	    margin-left: unset;
	    width: 70%;
	    font-size: 14px;
	    line-height: 16px;
	}
	.block3_courierImg {
    	transform: translateX(25%);
    }
    .block4{
	    width: calc(100% - 40px);
	    margin: 40px 20px;
    }
    .block4_header{
    	position: relative;
    	margin-bottom: 10px;
    	width: calc(100% - 40px);
    	transform: translateX(-50%);
    	left: 50%;
    }
    .block4_grid {
	    grid-template-columns: 1fr;
	    width: 100%;
	    margin: 40px 0 0;
	    grid-gap: 25px;
	}
	.block4_blankHolder{
		display: none;
	}
	.block4_name, .block4_mainText {
	    font-size: 14px;
	    line-height: 20px;
	}
	.block4_fillBlankBtn{
		display: table;
	}
	.block4_headerHolder {
	    width: calc(100% + 40px);
	    margin-left: -20px;
	}




	.block5_grid {
	    grid-template-columns: 1fr;
	    width: calc(100% - 40px);
	    margin: 40px 20px 0 20px;
	    grid-gap: 20px;
	}
	.block5_line{
		width: 100%;
	}
	.block5_step {
	    text-align: left;
	}
	.block5_stepImg {
	    width: 50px;
	    height: unset; 
	    max-height: unset;
	    transform: unset;
	    vertical-align: top;
	} 
	.block5_step p {
	    display: inline-block;
	    width: calc(100% - 80px);
    	margin-left: 20px;
    	margin-top: 0;
	}
	.block5_numeration, .block5_mainText, .block5_stepArr{
		display: none;
	}
	.block5_mobileNumeration, .block5_step_imageHolder{
		display: inline;
	}
	.block5_mainText_mobile{
		border: 1px solid #DD9E23;
		box-sizing: border-box;
		width: 100%;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 12px;
		text-align: center;
		color: #FFFFFF;
		display: block;
		padding: 18px;
	}
	.block5_bottom{
		margin-bottom: 20px;
	}




	.block6_frame {
	    width: 100%;
	    box-shadow: unset;
	    margin: 40px 0 0;
	    padding: 0;
	}
	.block6_subFrame {
	    padding: 15px;
	}
	.block6_header {
	    font-size: 22px;
	    line-height: 23px;
	}
	.radioLabel {
    	font-size: 14px;
    }
    .block6_inputHolder {
	    grid-template-columns: 1fr
	}
	.block6_submitBtn{
		margin: 25px 0;
		width: calc(100% - 40px);
	}
	.block6_bottom1 {
	    padding: 0 20px;
	    font-size: 18px;
	    line-height: 25px;
	}
	.block6_bottom2 {
	    font-size: 5px;
	    line-height: 6px;
	    padding: 0px 20px;
	    margin: 10px 0;
	}



}

@media screen and (min-width: 300px) and (max-width:359px){
	.block1_header {
	    font-size: 20px;
	    line-height: 24px;
	}
	.block1_textContainer_line{
		margin: 10px 0;
		width: 60%;
	}
	.block1_subHeader {
	    width: 60%;
	    font-size: 13px;
	    line-height: 15px;
	}
	.button{
		height: 50px;
	}
	.block1_button {
	    width: 50%;
	    font-size: 10px;
	    line-height: 15px;
	    height: 50px;
	    margin-top: 20px;
	}


	.block2_header, .block5_bottom, .block2_bottom, .block3_headerHolder, .block5_headerHolder, .block3_headerHolder, .block5_headerHolder, .block4_header, .block4_bottom {
	    font-size: 22px;
	    line-height: 25px;
	}

	
	.block4_bottom, .block5_bottom{
		padding: 10px;
	}
	.label {
	    font-size: 15px;
	    line-height: 19px;
	}
	.radioLabel {
	    font-size: 13px;
	}
	.radio{
		margin-bottom: 0px;
	}



}
@media screen and (max-height: 650px) {
	.block1_header {
	    font-size: 20px;
	    line-height: 24px;
	}
	.block1_textContainer_line{
		margin: 10px 0;
	}
	.block1_subHeader {
	    width: 60%;
	    font-size: 13px;
	    line-height: 15px;
	}
	.button{
		height: 50px;
	}
	.block1_button {
	    width: 50%;
	    font-size: 10px;
	    line-height: 15px;
	    height: 50px;
	    margin-top: 20px;
	}
}

@media screen and (min-width: 300px) and (max-width:920px) and (orientation: landscape){
	.block1_topLogo {
	    margin: 10px 0 0px;
	}
	.block1_button {
	    width: 40%;
	}
	.block1_title {
	    max-width: 50%;
	}
	.block3_courierImg {
    	max-width: unset; 
    	height: 220%;

}


}
@media screen and (min-width : 500px) and (max-width : 900px) and (orientation : portrait){
	.block3_courierImg {
	    max-width: unset;
	    height: 220%;
	}
}
@media only screen and (min-device-width : 760px) and (max-device-width : 1025px) and (orientation : portrait){
	.mainContainer{
		overflow: hidden;
	}
	.block1_textContainer {
	    position: relative;
	    margin-left: 20px;
	    padding-bottom: 70px;
	    width: 70%;
	}
	.block1_textContainer_line {
	    max-width: 80%;
	}
	.block1_topLogo {
	    margin: 30px 0 10px;
	}
	.block1_header {
	    font-size: 29px;
	    line-height: 35px;
	    width: 80%;
	}

	.block1_topTitle {
    	width: calc(100% - 40px);
    	font-size: 5px;
	    line-height: 6px;
	    padding: 0px 20px;
	    margin: 10px 0;
    }
	.block1_subHeader {
	    width: 60%;
	    font-size: 16px;
	    line-height: 20px;
	}
	.block1_button {
	    width: 60%;
	}
	.button{
		font-size: 15px;
    	line-height: 20px;
    	height: 70px;
	}
	.block1_winnerHolder {
	    right: -35%;
	    width: 100%;
	    height: 100%;
	}

	.block1_title div {
	    padding: 0px 10px;
	    overflow: hidden;
	}
	.block1_title {
	    grid-template-columns: minmax(72px, 315px) auto 20px;
	    height: 80px;
	    max-width: 50%;
	    font-size: 9px;
	    line-height: 11px;
	    justify-items: center;
	    overflow: hidden;
	}

	.block1 {
	    height: 50vh;
	}




	.block3_grid {
	    width: calc(100% - 40px);
	    margin: 40px 20px;
		grid-gap: unset;
	    grid-template-rows: auto;
	    height: auto;
	}
	.block3_headerHolder, .block5_headerHolder{
	    font-size: 24px;
	    line-height: 30px;
	}
	.block3_headerHolder div {
	    position: relative;
	    margin: 10px 0;
	}
	.block3_imgHolder, .block3_mainText {
	    grid-column: 1/-1;
	    height: 15vh;
	}
	.block3_mainText p {
	    margin-left: unset;
	    width: 70%;
	    font-size: 14px;
	    line-height: 16px;
	}
	.block3_courierImg {
    	transform: translateX(25%);
    	height: 240%;
    }



}



@media screen and (min-width: 1550px) {
	.block3_grid{
		height: unset;
	}
	.block1_textContainer {
	    padding-bottom: 70px;
	}
	.block1{
		height: unset;
	}
	.block1_winnerHolder{
		height: 100%;
	}
}


@media screen and (min-width: 1922px) {
	
}