<!DOCTYPE HTML>
<html lang="RU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet"  href="css/animate.css">
	<link href="css/peppermint.required.css" rel="stylesheet">
	<link href="css/styles.css" type="text/css"  rel="stylesheet" >

	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">


	<script  type="text/javascript" src="js/jquery-3.2.1.js"></script>
	<script src="js/peppermint.min.js"></script>
	<script  type="text/javascript" src="js/script.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">


	<title>PrizeMe</title>
</head>
<body>
<div class="block2_sliderHolder block2_d2window">
	<div class="block2_sliderContainer">
		<div class="peppermint peppermint-inactive diploma_slider diploma_slider1">
			<figure><img src="img/diploma2_big1.jpg"></figure>
			<figure><img src="img/diploma2_big2.jpg"></figure>
		</div>
		<img src="img/lArr.svg" class="b2_lArr lArr">
		<img src="img/rArr.svg" class="b2_rArr rArr">
						
	</div>
	<img src="img/closeIcon.svg" class="closeBtn b2_d2_close">
</div>
<div class="block2_sliderHolder block2_d1window">
	<div class="block2_sliderContainer">
		<div class="diploma_slider">
			<img src="img/diploma1_big.jpg" class="diploma1_bigImg">
			<div class="block2_diploma_name">{{Name}}</div>
		</div>				
	</div>
	<img src="img/closeIcon.svg" class="closeBtn b2_d1_close">
</div>
<div class="mainContainer">
	<div class="block1">
		<div class="block1_winnerHolder">
			<div class="relDiv">
				<img src="img/block1_winner.png" class="block1_winner">
			</div>
		</div>
		<div class="block1_title">
			<div class="block1_titleText">З повагою, Голова Фінансового відділу з виплати призів Олена Філімонова.</div>
			<div><img src="img/filimonova-podpis.png" class="filimonova_podpis_img"></div>
			<div></div>
		</div>
		<div class="block1_topTitle">*У разі Вашої перемоги в Акції "Золотий Фонд" та виникнення подібної ситуації Ви можете отримати такого листа</div>
		<div class="block1_textContainer">
			<div class="logo">
				<img class="block1_topLogo" src="img/topLogo.svg">
			</div>
			<div class="block1_header">
				<span>{{Name}},</span><br>
				На Вас чекає грандіозне нагородження!
			</div>
			<div class="hLine block1_textContainer_line"></div>
			<div class="block1_subHeader">Від щирого серця вітаю Вас! Ви заслужено здобули перемогу і будете винагороджені по максимуму! Мені приємно усвідомлювати, що саме Ви отримаєте Головний приз Акції – <span class="nobr">317 000,00 гривень!</span></div>
			<div class="button block1_button"><span>обрати дату нагородження</span></div>
		</div>
		
		
		<div class="block1_back"></div>
	</div>
	<div class="block2 block">
		<div class="block2_headerHolder">
			<img src="img/block2_leftBranch.svg" class="block2_branch block2_leftBranch">
			<img src="img/block2_rightBranch.svg" class="block2_branch block2_rightBranch">
			<div class="hLine block2_line"></div>
			<div class="block2_header">{{Name}},<br> вітаємо!<br> Ви успішно пройшли всі етапи відбору і отримуєте <br><span>ЧЕРВОНИЙ ДИПЛОМ ПЕРЕМОЖЦЯ!</span></div>
		</div>
		<div class="block2_mainContainer">
			<div>
				<div class="block2_diploma_header">Фінансовий відділ “PrizeMe” пишається Вами!</div>
				<div class="block2_diploma_p1">Ви дуже швидко реагували на листи і правильно заповнювали офіційні документи, саме тому перед нагородженням ми вирішили видати Вам ЧЕРВОНИЙ ДИПЛОМ ПЕРЕМОЖЦЯ, що надає Вам унікальне право на першочергову та БЕЗКОШТОВНУ доставку виграшу.*</div>
				<div class="block2_diploma_p2">Радійте! Гонитва за виграшем завершена. Ваші документи підписано, гроші підготовлено. Тепер Ви гарантовано одержите 317 000,00 гривень без черг і на першу вимогу.</div>
				<div class="block2_diploma_p3">І зараз все, що лишилося – лише повідомити нам зручний для Вас день доставки грошей! Це останній обов’язковий крок для отримання 317 000,00 гривень.</div>
				<div class="block2_diploma_p4">Завантажте ДИПЛОМ або запишіть його номер для пред’явлення кур’єру Служби доставки (за бажанням можете роздрукувати ДИПЛОМ, після завантаження). Ознайомтеся з ДОДАТКОМ, щоб дізнатись усі подробиці Вашої перемоги.</div>
			</div>
			<div class="block2_diplomaHolder">
				<img src="img/diploma1.jpg" class="block2_diplomaImg1">
				<a href="img/diploma1_big.jpg" download><div class="button block2_diplomaDownloadBtn"><span>ЗАВАНТАЖИТИ</span></div></a>

				<img src="img/diploma2.jpg" class="block2_diplomaImg2">
			</div>
			<div class="block2_bottom">
				Завдяки Вашому ЧЕРВОНОМУ ДИПЛОМУ ПЕРЕМОЖЦЯ доставку виграшу буде здійснено БЕЗКОШТОВНО!
			</div>
		</div>
	</div>
	<div class="block3 block">
		<div class="block3_grid">
			<div class="block3_headerHolder">
				<div class="block3_Header"><span>{{Name}},</span><br>Ви – найкращий клієнт компанії!</div>
				<div class="block3_subHeader">Ви – Власник ЧЕРВОНОГО ДИПЛОМА ПЕРЕМОЖЦЯ!</div>
				<div class="hLine"></div>
			</div>
			<div class="block3_mainText">
				<p>Ми вже готові доставити Вам виграш за адресою Вашого проживання. Головне – повідомте, коли Вам буде зручно зустріти кур’єра компанії та одержати гроші.</p>
				<p>Ви можете обрати будь-який тиждень виплат та день (навіть вихідний) для візиту кур’єра.</p>
			</div>
			<div class="block3_imgHolder">
				<img src="img/courier.png" class="block3_courierImg">
			</div>
		</div>
		<div class="block1_back block3_back"></div>
	</div>
	<div class="block4">
		<div class="block2_headerHolder block4_headerHolder">
			<img src="img/block2_leftBranch.svg" class="block2_branch block2_leftBranch">
			<img src="img/block2_rightBranch.svg" class="block2_branch block2_rightBranch">
			<div class="hLine block2_line"></div>
			<div class="block4_header">Ми надсилаємо Вам<br> “БЛАНК НА ДОСТАВКУ ВИГРАШУ”.</span></div>
		</div>
		<div class="block4_grid">
			<div class="block4_mainTextHolder">
				<p class="block4_name">{{Name}}!</p>
				<p class="block4_mainText"> Щоб отримати свій виграш – впишіть у “БЛАНК” зручну для Вас дату отримання виграшу та надішліть нам. Після цього кур’єр “PrizeMe” доставить Вам <span class="nobr">317 000,00 гривень</span> прямо додому.</p>
			</div>
			<div class="block4_blankHolder">
				<img src="img/blank.png">
				<div class="exampleTitle">ЗРАЗОК</div>
			</div>
			<div class="block4_bottom">ЗАПОВНЕНИЙ “БЛАНК НА ДОСТАВКУ ВИГРАШУ” – ВАША ГАРАНТІЯ ОТРИМАННЯ <span class="nobr">317 000,00 ГРИВЕНЬ!</span></div>
			<div class="button block4_fillBlankBtn"><span>ЗАПОВНИТИ БЛАНК</span></div>
		</div>
	</div>
	<div class="block5 block">
		<div class="block5_grid">
			<div class="block5_headerHolder">
				<p>ІНСТРУКЦІЯ З ОДЕРЖАННЯ ВИГРАШУ</p>
				<div class="hLine block5_line"></div>
			</div>
			<div class="block5_step">
				<img src="img/downloadIco.svg" class="block5_stepImg">
				<p><span class="block5_mobileNumeration"><b>1. </b></span><span class="block5_numeration">1</span><b>Завантажте</b> ЧЕРВОНИЙ ДИПЛОМ ПЕРЕМОЖЦЯ або перепишіть його номер. Ознайомтся з ДОДАТКОМ.</p>
			</div>
			<div class="block5_step">
				<div class="block5_step_imageHolder">
					<img src="img/rightArrow.svg" class="block5_stepArr">
					<img src="img/writing.svg" class="block5_stepImg">
				</div>
				<p><span class="block5_mobileNumeration"><b>2. </b></span><span class="block5_numeration">2</span><b>Заповніть </b>“БЛАНК НА ДОСТАВКУ ВИГРАШУ”. Обов’язково впишіть зручні для Вас тиждень виплат та день одержання грошей, а також адресу.</p>
				
			</div>
			<div class="block5_step">
				<div class="block5_step_imageHolder">
					<img src="img/rightArrow.svg" class="block5_stepArr">
					<img src="img/clicker.svg" class="block5_stepImg">
				</div>
				<p><span class="block5_mobileNumeration"><b>3. </b></span><span class="block5_numeration">3</span><b>Оберіть</b> уподобані товари з акційної товарної пропозиції. Акційна пропозиція від PrizeMe дійсна лише протягом 24 годин! Замовте будь-які товари за СУПЕРЦІНОЮ!</p>
			</div>
			<div class="block5_mainText_mobile">
				Увага: без Вашого замовлення “БЛАНК НА ДОСТАВКУ ВИГРАШУ” автоматично відбракується Системою автоматичної верифікації, а отже, виплата Вам <span class="nobr">317 000,00 гривень</span> НЕ ВІДБУДЕТЬСЯ!
			</div>
			<div class="block5_step">
				<div class="block5_step_imageHolder">
					<img src="img/rightArrow.svg" class="block5_stepArr">
					<img src="img/truck.svg" class="block5_stepImg">
				</div>
				<p><span class="block5_mobileNumeration"><b>4. </b></span><span class="block5_numeration">4</span><b>Заберіть</b> на пошті посилку із замовленими товарами та очікуйте кур’єра, який БЕЗКОШТОВНО ПРИВЕЗЕ Вам гроші прямо додому.</p>
				
			</div>
			<div class="block5_mainText">Увага: без Вашого замовлення “БЛАНК НА ДОСТАВКУ ВИГРАШУ” автоматично відбракується Системою автоматичної верифікації, а отже, виплата Вам <span class="nobr">317 000,00 гривень</span> НЕ ВІДБУДЕТЬСЯ!</div>
			<div class="block5_bottom">Якщо НЕ НАДІШЛЕТЕ ВІДПОВІДЬ – ВТРАТИТЕ <span class="nobr">317 000,00 гривень</span> назавжди! </div>
		</div>

		<div class="block1_back block5_back"></div>
	</div>
	<div class="block6 block">
		<div class="block6_frame">
			<div class="block6_subFrame">
				<div class="block6_header">БЛАНК НА ДОСТАВКУ ВИГРАШУ</div>
				<form>
					<label class="checkbox"><div class="label">Я, {{Name}},<br> як Головний переможець Акції погоджуюсь отримати свій виграш – <span class="nobr">317 000,00 гривень</span> – готівкою.</div>
						<input type="checkbox" name="agreement1" checked>
						<span class="checkmark"></span>
					</label>
					<div class="label">Я очікую доставку грошового Призу:</div>
					<div class="block6_radioHolder">
						<div>
							<label class="radio"><div class="radioLabel">Першого тижня виплат (01–05.05)</div>
								<input type="radio" name="when">
								<span class="radioMark"></span>
							</label>
						</div>
						<div>
							<label class="radio"><div class="radioLabel">Другого тижня виплат (06–12.05)</div>
								<input type="radio" name="when" checked>
								<span class="radioMark"></span>
							</label>
						</div>
						<div>
							<label class="radio"><div class="radioLabel">Третього тижня виплат (13–19.05)</div>
								<input type="radio" name="when">
								<span class="radioMark"></span>
							</label>
						</div>
						<div>
							<label class="radio"><div class="radioLabel">Четвертого тижня виплат (20–26.05)</div>
								<input type="radio" name="when">
								<span class="radioMark"></span>
							</label>
						</div>
						<div>
							<label class="radio"><div class="radioLabel">П’ятого тижня виплат (27.05–31.05).</div>
								<input type="radio" name="when">
								<span class="radioMark"></span>
							</label>
						</div>
					</div>
					<div class="block6_inputHolder">
						<div>
							<div class="label">В зручний для мене день тижня:</div>
							<div class="custom-select">
								<select size="1" name="day">
								    <option selected disabled>Виберіть день тижня</option>
								    <option value="Понеділок">Понеділок</option>
								    <option value="Вівторок">Вівторок</option>
								    <option value="Середа">Середа</option>
								    <option value="Четвер">Четвер</option>
								    <option value="П'ятниця">П'ятниця</option>
								    <option value="Субота">Субота</option>
								    <option value="Неділя">Неділя</option>
								</select>
							</div>
						</div>
						<div>
							<div class="label">Номер телефону для зв’язку з Вами та уточнення адреси доставки:</div>
							<input type="text" name="phone" class="inputText" placeholder="+38 011 222 3334">
						</div>
						<div class="block6_address">
							<div class="label">Адреса доставки:</div>
							<textarea rows="2" maxlength="1000" name="address" class="inputText addressInput" placeholder="Область/Район/Населений пункт/Вулиця/Номер будинку/Номер квартири"></textarea>
						</div>
					</div>
					<label class="checkbox"><div class="label">Я відмовляюсь від БЕЗКОШТОВНОЇ доставки мені виграшу. Прошу вислати мені 317 000,00 гривень поштовим переказом.</div>
						<input type="checkbox" name="agreement2">
						<span class="checkmark"></span>
					</label>
					<label class="checkbox"><div class="label">Я заповнюю цей документ і роблю обов’язкове замовлення товарів.</div>
						<input type="checkbox" name="agreement3" checked>
						<span class="checkmark"></span>
					</label>
				</form>
			</div>
		</div>
		<div class="button block6_submitBtn"><span>НАДІСЛАТИ</span></div>
		<div class="block6_bottom1">Щоб Служба автоматичної верифікації не відбракувала Ваш БЛАНК НА ДОСТАВКУ ВИГРАШУ, зробіть обов’язкове замовлення товарів із <span>акційної пропозиції.</span></div>
		<div class="block6_bottom2">*Із правилами Акції "Золотий Фонд" можна ознайомитися за посиланням: <a href="https://prizeme.com.ua/obshchiye-pravila-i-polozheniya-provedeniya-aktsii-i-opredeleniya-pobediteley-prayz-mi.pdf">https://prizeme.com.ua/obshchiye-pravila-i-polozheniya-provedeniya-aktsii-i-opredeleniya-pobediteley-prayz-mi.pdf</a></div>
		<div class="block6_bottom2">*Саме таке ім'я можуть мати співробітники компанії, якщо будуть обіймати відповідні посади на момент виплати Призу</div>
	</div>
	<div class="block7 block">
		<img src="img/cat.png">
	</div>
	<div class="block">
		
	</div>
</div>
</body>
</html>	